.sliderdesign {
  height: auto;
  width: 100% !important;
  object-fit: cover;
}
.background-section {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cards {
  height: 400px;
  object-fit: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
@media (max-width:575px) {
  .swiper-button-prev,
.swiper-button-next {
  color: white !important;
   transform: scale(0.3)
}
}
