@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: "Oswald", sans-serif !important;overflow-x: hidden !important; background-color: #000000 !important;
}
button {
  background-color: #7585af !important;
  color: #fff !important;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease-in-out; /* smooth animation */
  cursor: pointer;
}

button:hover {
  background-color: #5c6d96 !important; /* slightly darker shade */
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* shadow */
}

button:active {
  transform: translateY(0); /* reset on click */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
